<tabset #staticTabs>
    <tab heading="Dashboard">
        <div class="pagedata">
            <app-dashboard></app-dashboard>
        </div>
    </tab>
    <tab heading="Delay Config">
        <div class="pagedata">
            <app-delayconfig></app-delayconfig>
        </div>
    </tab>
    <!--<tab heading="Check Constant">
        <div class="pagedata">
            <app-constant></app-constant>
        </div>
    </tab>
    <tab heading="Check New Command">
        <div class="pagedata">
            <app-newcommand></app-newcommand>
            <app-mysql-command></app-mysql-command>
        </div>
    </tab>-->
    <tab heading="Transfer Data">
        <div class="pagedata">
            <app-transferdata></app-transferdata>
        </div>
    </tab>
    <tab heading="Event Schedule">
        <div class="pagedata">
            <app-eventshedule></app-eventshedule>
        </div>
    </tab>
</tabset>