<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div><span class="icon icon-cog"></span> Command </div>
      </div>
      <div class="panel-body panel-table">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Command</th>
                <th>DateTime</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let comm of commandList">
                <td>1</td>
                <td class="text">{{comm.presql}}</td>
                <td class="text">{{comm.sql}}</td>
                <td>
                   <div *ngIf="comm.status == '4' ; else status">
                     <i class="fa fa-check text-success" aria-hidden="true"></i>
                  </div>
                  <template #status>
                     <i class="fa fa-spinner fa-spin fa-fw text-warning" aria-hidden="true"></i>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--ปิด col-md-8-->
</div>
<!--ปิด row-->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><span class="icon icon-cog"></span> Log File </div>
      <div class="panel-body panel-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Command</th>
              <th>DateTime</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>CREATE DATABASE IF NOT EXISTS `_BUFFE_DB_`;</td>
              <td>10-05-2016</td>
              <td class="text-danger">Error Server....</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--ปิด col-md-8-->
</div>
<!--ปิด row-->